<!-- template: drupal 7 node -->
<div class="node {{ node.type }} clearfix" id="node-{{ node.nid }}" data-nid="{{ node.nid }}">
    <h3 class="title" >{{ node.title }}</h3>
    <div class="content">
        <div class="field-thumbnail" ng-repeat="field in node.field_thumbnail[language]"><img class="field-field_image" alt="" src="{{ field['uri']  | drupalImage }}" width="{{ field['width'] }}" height="{{ field['height'] }}" /></div>
        <div class="body" ng-repeat="b in node.body[node.language]" ng-bind-html="b.value | trustAsHtml "></div>
        <div class="field-image" ng-repeat="field in node.field_image[node.language]"><img class="field-field_image" alt="" src="{{ field['uri']  | drupalImage }}" width="{{ field['width'] }}" height="{{ field['height'] }}" /></div>
        <!--<swipe id="swiper-{{ nid }}" nav="top">
             <div class="field-image swipe-item" ng-repeat="field in field_gallery['und']"><img class="field-field_gallery" alt="" src="{{ field['uri']  | drupalImage }}" /></div>
        </swipe>-->
        <ul class="gallery">
            <li ng-repeat="field in node.field_gallery['und']"><div class="field-image" ><img class="field-field_gallery" alt="" src="{{ field['uri']  | drupalImage }}" /></div></li>
        </ul>
        <div class="field-iframe" ng-repeat="field in node.field_iframe['und']"><iframe src="{{ node.field[language] }}" width="{{ field_width[language][0]['value'] }}" height="{{ field_height[language][0]['value'] }}" frameborder="0"></iframe></div>
   </div>
</div>